<div id="page-top" data-spy="scroll" data-target=".navbar-home">
    <nav class="navbar navbar-home navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    Hop a Path
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#why">Why?</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#our-story">Our Story</a>
                    </li>
                    <!--<li>
                        <a class="btn btn-block btn-social btn-facebook">
                            <i class="fa fa-facebook"></i> Sign in
                        </a>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 intro-text">
                        <h3>A User-Driven Travel Guide.
                        </h3>
                        <img src="img/iphone-download-badge.png" width="200px">
                        <!--<img src="img/android-download-badge.png" width="200px">-->
                    </div>
                    <div class="col-md-6">
                        <img src="img/hero.png" class="hero">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="why" class="why-section text-left">
        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                <ul>
                    <li>Remember your adventures as you travel with pictures and short posts.</li>
                    <li>Share your adventures with friends and family - they can see your trip unfold in real time.</li>
                    <li>Posts may be synced to facebook, but remain organized as trips in this app so they are not lost amongst all your other facebook posts</li>
                    <li>Post offline without an internet connection during the day while traveling and let the app sync your posts during the night using your accomodation's wifi</li>
                    <li>Need to organize the next trip or just looking where to go next while on a trip?  This app will help.</li>
                </ul>
                <h2>Take a look at a path:  <a ui-sref="app.user({userId: '1A0W16VMUH'})">See Aaron's Path</a></h2>
            </div>
        </div>
    </section>

    <section class="background-section text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
            </div>
        </div>
    </section>

    <section id="our-story" class="our-story-section text-center">
        <div class="row">
            <h2>Our Story</h2>
            <div class="col-md-3 col-md-offset-2">
                <div class="well">
                    <img src="img/jesse-tikal.jpg">
                </div>
            </div>
            <div class="col-md-5 text-left">
                <blockquote>In March of 2014 I backpacked through Belize and Guatemala and met a lot of amazing people.  I had my trusty guide book to help me find places to visit and facebook to keep in touch but I was frustrated because neither of these could tell me how to find and travel with fellow backpackers.  Having a deep love of travel and technology I was shocked that we still live in an age of static guide books and no app dedicated to connecting travellers, analyzing travel routes, and sharing things to do in real time. I have set out to create an app to help guide backpackers and travellers through the best paths for their travels: Hop a Path. &nbsp;&nbsp;&nbsp;~ Jesse</blockquote>
            </div>
        </div>
    </section>
</div>