<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="app.home">
        Hop a Path
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li>
                <a ng-href="#" ng-hide="User.current()" class="btn btn-block btn-social btn-facebook" ng-click="User.fbLogin()"><i class="fa fa-facebook"></i> Sign in</button>
                <a ng-show="User.current()" ng-href="#" ng-click="User.logOut()">Sign Out</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>

<div class="container path">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <div class="pull-left">
          <img ng-src="{{user.fbProfileImage('normal')}}" alt="{{user.name}} profile image" class="img-thumbnail" style="margin-right: 20px; margin-bottom: 20px; width: 100px; height: 75px;">
        </div>
        <h2>{{user.name + " Path"}}</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-push-6">
      <ui-gmap-google-map
        id="map"
        ng-if="map.show"
        center="map.center"
        zoom="map.zoom">
        <ui-gmap-polyline
          path="map.path"
          stroke="map.stroke"
          clickable="false"
          draggable="false"
          editable="false"
          fit="true"
          static="true"
          geodesic="true">
        </ui-gmap-polyline>
        <ui-gmap-markers
          models="map.markers"
          coords="'self'"
          options="'options'">
        </ui-gmap-markers>
      </ui-gmap-google-map>
      <div ng-show="User.current().id == user.id">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Add a Post</h3>
          </div>
          <div class="panel-body">
          <!-- TODO add img for when image uploaded, add map and tie to location name, add share with fb toggle -->
            <div class="form-group">
              <label for="newPostText">Description</label>
              <textarea id="newPostText" class="form-control" rows="3" placeholder="Description" ng-model="newPost.text"></textarea>
            </div>
            <div class="form-group">
              <label for="newPostRating">Rating</label>
              <rating id="newPostRating" rating-value="newPost.rating" max="5"></rating>
            </div>
            <div class="form-group">
              <label for="newPostImage">Photo</label>
              <input type="file" id="newPostImage" ng-model="newPost.image">
            </div>
            <img ng-if="newPost.image" ng-model="newPost.image" style="width: 200px; height: 200px;">
            <div class="form-group">
              <label for="newPostLocationName">Location</label>
              <input type="text" class="form-control" id="newPostLocationName" placeholder="Location" ng-model="newPost.locationName">
            </div>
            <ui-gmap-google-map
              id="newPostMap"
              ng-if="newPostMap.show"
              center="newPostMap.center"
              zoom="newPostMap.zoom">
              <ui-gmap-search-box
                template='searchbox.tpl.html'
                events='newPostMap.searchBox.events'
                parentDiv="'newPostLocationName'"
                options='newPostMap.searchBox.options'>
              </ui-gmap-search-box>
              <ui-gmap-marker 
                coords="newPostMap.marker.coords" 
                options="newPostMap.marker.options"
                idkey="newPostMap.marker.id">
              </ui-gmap-marker>
            </ui-gmap-google-map>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="newPost.shareOnFb"> Post to Facebook?
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-pull-6">
      <div class="panel panel-default" ng-repeat="post in posts">
        <div class="panel-heading">
          <h3 class="panel-title">{{post.locationName}}</h3>
          <span>{{timeSince(post.userCreatedAt)}}</span>
          <rating ng-show="post.rating > 0" rating-value="post.rating" max="5" readonly="true"></rating>
        </div>
        <div class="panel-body">
          <img ng-if="post.hasImage640" ng-src="{{post.image640}}" alt="post image" class="img-rounded" style="width: 100%">
          <p>{{post.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>