<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="app.home">
        Hop a Path
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li>
                <a ng-href="#" ng-hide="User.current()" class="btn btn-block btn-social btn-facebook" ng-click="User.fbLogin()"><i class="fa fa-facebook"></i> Sign in</button>
                <a ng-show="User.current()" ng-href="#" ng-click="User.logOut()">Sign Out</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>

<div class="container path">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <div class="pull-left">
          <img ng-src="{{user.fbProfileImage('normal')}}" alt="{{user.name}} profile image" class="img-thumbnail" style="margin-right: 20px; margin-bottom: 20px; width: 100px; height: 75px;">
        </div>
        <h2>{{user.name + " Paths"}}</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-push-6">
      <ui-gmap-google-map
        ng-if="map.show"
        center="map.center"
        zoom="map.zoom">
        <ui-gmap-polyline
          path="map.path"
          stroke="map.stroke"
          clickable="false"
          draggable="false"
          editable="false"
          fit="true"
          static="true"
          geodesic="true">
        </ui-gmap-polylines>
        <ui-gmap-markers
          models="map.markers"
          coords="'self'"
          options="'options'">
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
    <div class="col-md-6 col-md-pull-6">
      <div class="panel panel-default" ng-repeat="path in paths">
        <div class="panel-heading">
          <h3 class="panel-title">{{path.name}}</h3>
          <span>{{timeSince(path.userCreatedAt)}}</span>
        </div>
        <div class="panel-body">
          <a ui-sref="app.path({pathId: path.id})">View this path<a>
        </div>
      </div>
    </div>
  </div>
</div>